<html ng-app="TerraStation">
<head>
	<link rel="stylesheet" href="libs/css/style.css" media="all" />
	<script type="text/javascript" src="libs/js/script.js"></script>
</head>

<body ng-controller="TerraStationMain">

	<div id="header">
		<span><span>Terra</span>Station</span>
	</div>

	<div id="main">
		<h2>
			Temperature & Humidity
		</h2>

		<div id="graph">
			<img src="libs/img/graph.jpg" />
		</div>

		<h2>
			Rain Settings
		</h2>

		<div id="rain" class="content">
			<div class="entry" ng-repeat="entry in settings.rain">
				<div>
					<span>
						Start at: 
						<input type="text" ng-model="entry.time"/>
					</span>
					<span>
						Duration: 
						<input type="text" ng-model="entry.duration"/>
					</span>

					<a ng-click="deleteIndex(settings.rain,$index)" class="button">
						<span class="icon">&#xE800;</span>
					</a>
				</div>
			</div>
		</div>
		<a ng-click="add(settings.rain)" class="add button">
			+
		</a>
		<h2>
			Light
		</h2>
		<div id="light" class="content">
			<div class="entry">
				<span>
					Start at: 
					<input type="time" />
				</span>
				<span>
					End at: 
					<input type="time" />
				</span>
			</div>
		</div>
		<h2>
			Heat
		</h2>
		<div id="heat" class="content">
			<div class="entry">
				<span>
					Start at: 
					<input type="time" />
				</span>
				<span>
					End at: 
					<input type="time" />
				</span>
			</div>
		</div>

		<h2>
			Live Cam
		</h2>
		<div id="livecam">
			<img src="libs/img/livecam.jpg" />
		</div>
	</div>
</body>
</html>